.smooth-wrapper {
  min-height: 100vh;
  width: 100%;
}

.smooth-content {
  width: 100%;
}

/* For Lenis smooth scrolling */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
